<section class="banner-content" style="background-image:url({{section.settings.cta-bg | img_url: 'master'}})">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="caption">
               <h1><span class="slider-title">{{section.settings.cta-header}}</span></h1>
               <p class="sub-title">{{section.settings.cta-content}}</p> 
               <a href="{{section.settings.cta-link}}" class="button read-btn">{{section.settings.cta-btn-name}}</a>
               </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name":"Text Button CTA",
        "settings":[
            {
                "type":"text",
                "label":"Header",
                "id":"cta-header"
            },
            {
                "type":"image_picker",
                "label":"Pick an background",
                "id":"cta-bg"
            },
            {
                "type": "richtext",
                "id": "cta-content",
                "label": "CTA Description"
            
            },
            {
                "type": "text",
                "id": "cta-btn-name",
                "label": "Button Text"
           
            },
            {
                "type": "text",
                "id": "cta-link",
                "label": "CTA Link"
            }
        ]
    }
{% endschema %}