<section class="home-banner">
    <div class="container">
        <div class="row">
            <!--Slider-->
            <div class="col-8">
                <div class="banner-slider">
                    <div class="owl-carousel owl-theme banner-slider-content">
                    {%for block  in section.blocks %}
                    <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{{block.settings.image-picker | img_url: 'master'}}" alt="The Soap Store"  alt="pic">
                                    <span>
                                        <h3>{{block.settings.lt-header}}</h3>
                                        <p>{{block.settings.sm-text}}</p>
                                    </span>
                                </figure>
                            </a>
                        </div>
                    {%endfor%}

                    </div>
                </div>
            </div>

            <!--Banner Sidebar image-->
            <div class="col-4">
                <div class="banner-new-product">
                    <a href="#">
                        <figure>
                            <img src="{{ section.settings.sidebar-img | img_url: 'master'}}" alt="pic">
                            <span>
                            <h3>{{section.settings.side-text}}</h3>
                            <p>{{section.settings.sub-text}}</p>
                        </span>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
 {
    "blocks": [
        {
        "type": "image",
        "name": "Slider Item",
        "settings": [{
                "type": "text",
                "label": "Large Text",
                "id": "lt-header"
            },
            {
                "type": "text",
                "id": "sm-text",
                "label": "Sub Text"
            },
           {
                   "type": "image_picker",
                   "id": "image-picker",
                   "label": "Pick an image"
               }

            ]
    }
 ],

    "name": "Banner Sidebar ",
    "settings": [

        {
            "type": "text",
            "id": "side-text",
            "label": "New Product Title",
            "default": "Same o same"
        },
        {
            "type": "text",
            "id": "sub-text",
            "label": "Sub Text"

        },
        {
            "type": "image_picker",
            "id": "sidebar-img",
            "label": "Pick a image"
        }
    ]
} 
{% endschema %}

<script >
    $('.banner-slider-content').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
         autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots:false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    })
</script>

