<section class="image-text-block-wrapper">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-8">
                <div class="title-header">
                    <h2>New arrival&nbsp;&#47;&nbsp;<span>recently added products</span></h2>
                </div>
            </div>
            <div class="col-4">
                <div class="see-all">
                    <a href="#">
                        <button>See all</button>
                    </a>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col-6">
                <div class="image-text-block-content">
                    <figure>
                        <a href="#"><img src="{{'slider_2.jpeg' | asset_url}}" alt="image"></a>
                    </figure>
                    <div class="image-text-block-detail">
                        <h4><a href="#">Best quality beers</a></h4>
                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="image-text-block-content">
                    <figure>
                        <a href="#"><img src="{{'slider_2.jpeg' | asset_url}}" alt="image"></a>
                    </figure>
                    <div class="image-text-block-detail">
                        <h4><a href="#">Fresh vegetables</a></h4>
                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="image-text-block-content">
                    <figure>
                        <a href="#"><img src="{{'slider_2.jpeg' | asset_url}}" alt="image"></a>
                    </figure>
                    <div class="image-text-block-detail">
                        <h4><a href="#">Coffee in the house</a></h4>
                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="image-text-block-content">
                    <figure>
                        <a href="#"><img src="{{'slider_2.jpeg' | asset_url}}" alt="image"></a>
                    </figure>
                    <div class="image-text-block-detail">
                        <h4><a href="#">All star converse</a></h4>
                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="image-text-block-content">
                    <figure>
                        <a href="#"><img src="{{'slider_2.jpeg' | asset_url}}" alt="image"></a>
                    </figure>
                    <div class="image-text-block-detail">
                        <h4><a href="#">Bed contents</a></h4>
                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="image-text-block-content">
                    <figure>
                        <a href="#"><img src="{{'slider_2.jpeg' | asset_url}}" alt="image"></a>
                    </figure>
                    <div class="image-text-block-detail">
                        <h4><a href="#">Best pizza</a></h4>
                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>