<section class="fl-kids-wear-wrapper">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-8">
                <div class="title-header">
                    <h2>Kids wear&nbsp;&#47;&nbsp;<span>clothings & products for kids</span></h2>
                </div>
            </div>
            <div class="col-4">
                <div class="see-all">
                    <a href="#">
                        <button>See all</button>
                    </a>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col">
                <div class="fl-kids-wear-slider">
                    <div class="owl-carousel owl-theme rating-slider">
                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">
                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">
                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">
                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">
                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">
                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="rating-slider-content">
                                <figure>
                                     <img src="{{ 'mens.jpeg' | asset_url}}" alt="pic">
                                    <span>
                                        <h3>
                                            <a href="#"><i class="fa fa-search-plus"></i></a>

                                            <a href="#"><i class=" fa fa-cart-plus"></i></a>
                                        </h3>
                                    </span>
                                </figure>
                                <div class="rating-slider-detail">
                                    <h4>Winter jacket</h4>
                                    <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                                    <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script >
    $('.rating-slider').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
         autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots:false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>