<section class="slider-with-gallery">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-8">
                <div class="title-header">
                    <h2>Womens wear&nbsp;&#47;&nbsp;<span>clothings & products for women</span></h2>
                </div>
            </div>
            <div class="col-4">
                <div class="see-all">
                    <a href="#">
                        <button>See all</button>
                    </a>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="row">
            <!--Sidebar-->
            <div class="col-4">
                <div class="gallery-sidebar">
                    <h3>Women hot products</h3>
                    <div class="gallery-sidebar-content">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="{{ 'slider_3.jpeg' | asset_url }}" alt="pic">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ 'slider_3.jpeg' | asset_url }}" alt="pic">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ 'slider_3.jpeg' | asset_url }}" alt="pic">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ 'slider_3.jpeg' | asset_url }}" alt="pic">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ 'slider_3.jpeg' | asset_url }}" alt="pic">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ 'slider_3.jpeg' | asset_url }}" alt="pic">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Slider-->
            <div class="col-8">
                <div class="block-slider">
                    <div class="owl-carousel owl-theme block-slider-content">
                        <div class="item">
                            <div class="block-slider-wrapper">
                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>

                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="block-slider-wrapper">
                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="block-slider-wrapper">
                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>

                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="block-slider-wrapper">
                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>

                                <div class="block-content">
                                    <figure>
                                        <a href="#"><img src="{{ 'kids.jpeg' | asset_url }}" alt="pic"></a>
                                    </figure>
                                    <div class="block-content-detail">
                                        <h4><a href="#">Best quality</a></h4>
                                        <p>Price:&nbsp;<span>Rs. 2590</span></p>
                                        <a href="#"><i class="fa fa-cart-arrow-down"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<script>
    $('.block-slider-content').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    })
</script>